@import url('https://fonts.googleapis.com/css2?family=Carlito&family=Lato&display=swap');
:root {
  --dice-dimension: 150px;
  --dice-color: #141521;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Carlito', sans-serif;
  position: relative;
  font-weight: 400;
  width: 100%;
  color: black;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right top, rgb(20, 21, 33), rgb(63, 76, 119));
}

main {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player-container {
  display: flex;
  height: 80%;
  width: 85%;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.player {
  display: flex;
  flex: 50%;
  flex-direction: column;
  word-spacing: 2px;
  letter-spacing: 2px;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  background: #3f506e;
  margin: 100px;
  align-items: center;
  justify-content: space-around;
}
.player .current {
  margin-bottom: 4rem;
}
.player-active {
  background-color: lightgray;
}

.current {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
  height: 20%;
  color: #fff;
  /* height: 200px; */
  background: var(--dice-color);
  margin-top: 2.5em;
  width: 60%;
  text-align: center;
  border-radius: 10px;
}

.name {
  margin: 2rem 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.score {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
  color: var(--dice-color);
}

.current-score {
  font-size: 1.9rem;
}

.dice {
  position: absolute;
  top: 30%;
  right: 50%;
  width: var(--dice-dimension);
  height: var(--dice-dimension);
  transform: translateX(50%);
}

.btn {
  display: block;
  outline: none;
  position: absolute;
  left: 50%;
  cursor: pointer;
  border: none;
  margin: 0.75rem;
  padding: 0.5rem;
  border-radius: 10px;
  transform: translateX(-55%);
  /* transition: margin 0.5s; */
}
.close-modal {
  position: absolute;
  top: 0.2rem;
  right: 1.2rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;

  line-height: 1.5;
  background: white;
  color: var(--dice-color);
  border-radius: 5px;
  z-index: 10;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: dimgray;
  opacity: 0.7;
  z-index: 5;
}
/* .btn:hover {
  margin: 1rem;
} */

.btn.btn-rules {
  top: 1rem;
}

.btn.btn-roll {
  top: 60%;
}

.btn.btn-hold {
  top: 70%;
}

.btn.btn-reset {
  top: 80%;
}

.hidden {
  display: none;
}

.player-winner {
  background-color: #2f2f2f;
}
